.contacto {
    margin: 80px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        color:main-color;
        font-family: font2;
    }
}


.contacto-titulo {
    color: main-color;
    font-family: font2;
    font-size: 40px;
}

.texto5 {
    color: main-color;
    font-family: font;
    font-size: 15px;
    padding-top: 30px;
}

.contenido{
    background-color: light-color;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texto4 {
    color: main-color;
    font-family: font;
    font-size: 20px;
    padding-top: 10px;
}
.titulo {
    color: main-color;
    font-family: font2;
    font-size: 40px;
    padding-bottom: 50px;
}
.titulo3 {
    color: main-color;
    font-family: font2;
    font-size: 30px;
}