.titulo {
    color: main-color;
    font-family: font2;
    font-size: 40px;
    padding-bottom: 50px;
}
.texto1,.texto2{
    color: main-color;
    font-family: font;
    font-size: 20px;
    padding-top: 150px;
}


.fotos-inicio {
    margin: 20px;
    img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        padding-top: 50px ;
        border-radius: 10%;
    }
}
main i {
    font-size: 70px;
}

    .contenido{
        background-color: light-color;
        padding-top: 10px;
        padding-bottom: 10px;
    }