.comidas-diarias{
    color: main-color;
    font-family: font2;
    font-size: 40px;
    padding-top: 50px;
    }

    .contenido{
        background-color: light-color;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .texto3 {
        color:main-color;
        font-family: font;
        padding-top: 60px;
        font-size: 20px;
}

.titulo {
    color: main-color;
    font-family: font2;
    font-size: 40px;
    padding-bottom: 50px;
}
.titulo2 {
    color: main-color;
    font-family: font2;
    font-size: 30px;
    padding-top: 50px;
}

.carneblanca{
    padding-top: 10px;
    img {
        width: 75%;
        height: 100%;
        object-fit: cover;
    }
}
.lentejas {
    padding-top: 10px;
    img {
        width: 76%;
        height: 100%;
        object-fit: cover;
    }
}
.hamburguesa{
    padding-top: 10px;
    img {
        width: 75%;
        height: 100%;
        object-fit: cover;
    }
}

.carnehorno img {
    width: 60%;
    height: 80%;
    object-fit: cover;
}