.comidas-diarias{
    color: main-color;
    font-family: font2;
    font-size: 40px;
    }

    .contenido{
        background-color: light-color;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .texto3 {
        color:main-color;
        font-family: font;
        padding-top: 60px;
        font-size: 20px;
}

.titulo {
    color: main-color;
    font-family: font2;
    font-size: 40px;
}
.titulo2 {
    color: main-color;
    font-family: font2;
    font-size: 30px;
}