.container-fluid a img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}
.offcanvas-title img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}
.navbar, .offcanvas {
    background-color: main-color !important;
}
.nav-item {
    font-family: font;
}